<div class="container">
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Photo</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;let rowIndex=index">
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <img src="assets/images/{{product.image}}" width="250" height="100">
                </td>
                <td>
                    <input class="btn btn-secondary" type="button" value="Add to Cart" [routerLink]="['/cart', { id:product._id }]">                  
              </td>
            </tr>
        </tbody>
    </table>
</div>

