<div class="container">
    <br/>
    <div class="col text-center">
        <h2>List of Products</h2>
    </div>
    <br/>
    <div class="row">
        <div *ngFor="let product of products">
            <div class="card" style="width: 18rem; margin-top: 40px; margin-right: 40px;">
                <img class="card-img-top" src="assets/images/{{product.image}}" width="250" height="200">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.details}}</p>
                  <p class="card-text">$ {{product.price}}</p>
                  <input class="btn btn-secondary" type="button" value="Add to Cart" [routerLink]="['/cart', { id:product._id }]">
                </div>
              </div>
        </div>
        
    </div>
    
    
</div>

