<div class="container">
    <div *ngFor="let p of product">
        <div class="text-center" style="margin-top: 5%;">
            <label><b>Code: </b></label>{{p.code}}<br/>
        </div>
        <div class="text-center" style="margin-top: 5%;">
            <label><b>Name: </b></label>{{p.name}}<br/>
        </div>
        <div class="text-center" style="margin-top: 5%;">
            <label><b>Details: </b></label>{{p.details}}<br/>
        </div>
        <div class="text-center" style="margin-top: 5%;">
            <label><b>Price: </b>$</label>{{p.price}}<br/>
        </div>
        <div class="text-center" style="margin-top: 5%;">
            {{getCompany()}}
            <label><b>Company: </b></label> {{getCompanyName()}} <br/>
        </div>
        <div class="text-center" style="margin-top: 5%;">
            <img src="assets/images/{{p.image}}" width="350" height="150">
        </div>
    </div>   

</div>