
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="margin-top: 2%; margin-left: 5%; margin-right: 5%; background-image: url(https://groupmp15170118135410.blob.core.windows.net/cmscontent/2020/07/farfecth-1600x600.jpg); background-size: 100% 100%;">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Clothing and Shoes</h1>
      <p class="lead my-3">Here you have a collection of the best brands of clothes in the world. We have shoes from the best companies.
          The prices are very accesible. 
      </p>
    </div>
  </div>

  <div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<div class="col text-center">
        <pre class="lead my-3">
            Please add to your cart the items that you want to buy from the Products option. Once you add 
            the iteams you will be redirected to the cart where you use press the button load cart 
            to see your products.
        </pre>        
</div>
